*.opensdf
*.sdf
*.suo
*.obj
*.tlog
*.pdb
*.ipch
*.ilk
*.exp
*.aps
*.log
*.temp
*.user
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.aps
*.ncb
*.opendb
*.cachefile
*.VC.db
*.VC.VC.opendb
*.psess
*.vsp
*.vspx
*.sap
*.e2e
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.mod
*.smod
*.lai
*.la
*.a
*.exe
*.out
*.app
SmartCity/bin
SmartCity/S57VectorDemo